{% extends 'index_template.html' %}
{% block title %}
	PlayStore 
{% endblock %}

{% block heading %}
	Playstore
{% endblock %}

{% block body %}

<div>
	<form>
		price_limit: <input type="test" name="price_limit">
	</form>
</div>


<div class="container">
	<div class="row">
		<div class="col">
			<table>
				{% for game in games %}
				<tr>
					<th>
						<p> GAME: {{ game }} </p>
					</th>
				</tr>
				{% endfor %}
				{% for price in prices %}
				<tr>
					<td>
						<p> PRICE: {{ price }} </p>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}